<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Изминение клиента</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <p>Введите ФИО</p>
    <input type="text" th:field="*{fullName}" id="fullName">
    <p style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
    <p>Введите год рождения</p>
    <input type="text" th:field="*{year}" id="year" >
    <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <p style=""></p>
    <hr>

    <input type="submit" value="Редактировать!">
</form>
</body>
</html>